* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100px;
}
body {
    font-size: initial;
}

@media screen and (min-width: 320px) {html{font-size:42.67px;}}
@media screen and (min-width: 360px) {html{font-size:48px;}}
@media screen and (min-width: 375px) {html{font-size:50px;}}
@media screen and (min-width: 412px) {html{font-size:54.93px;}}
@media screen and (min-width: 414px) {html{font-size:55.2px;}}
@media screen and (min-width: 546px) {html{font-size:72.8px;}}
@media screen and (min-width: 568px) {html{font-size:75.73px;}}
@media screen and (min-width: 640px) {html{font-size:85.33px;}}
@media screen and (min-width: 667px) {html{font-size:88.93px;}}
@media screen and (min-width: 732px) {html{font-size:97.6px;}}
@media screen and (min-width: 736px) {html{font-size:98.13px;}}
@media screen and (min-width: 750px) {html{font-size:100px;}}
@media screen and (min-width: 768px) {html{font-size:102.4px;}}
@media screen and (min-width: 1024px) {html{font-size:136.53px;}}
@media screen and (min-width: 1366px) {html{font-size:182.13px;}}

#main {
    width: 100%;
    height: 100%;
}
#main .top {
    width: 100%;
    height: 1rem;
    background: #393a3e;
    font-size: .17rem;
    padding:0 15px;
}
#main .top .top_a {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    float: left;
    margin: .41rem .25rem 0 0;
}
#main .top .top_a img {
    width: .3rem;
    height: .3rem;
}
#main .top .top_b {
    display: inline-block;
    font-size: .25rem;
    color: #fff;
    margin-top: .38rem;
}
#main .top .top_c {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    float: right;
    margin-top: .32rem;
}
#main .top .top_c img {
    width: .4rem;
    height: .4rem;
}
#main .center {
    width: 100%;
    height: 100%;
    font-size: .25rem;
    padding:0 15px;
}
#main .center .time {
    width: 100%;
    height: 100%;
    padding: .1rem 0;
    border-bottom: 1px solid #ccc;
}
#main .center .time3 {
    border-bottom: none;
}
#main .center .time .time_a {
    width: 100%;
    height: .6rem;
}
#main .center .time .time_a i {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background: url(../images/pl3.png) no-repeat;
    background-size: .6rem .6rem;
    float: left;
}
#main .center .time .time_a span {
    display: inline-block;
    color: #333;
    float: left;
    margin: .1rem 0 0 .1rem;
}
#main .center .time p {
    font-size: .3rem;
    margin-left: .7rem;
    color: #333;
}
#main .center .time p u {
    display: inline-block;
    margin-right: .2rem;
}
#main .center .time .time_b {
    margin-top: .1rem;
    color: #c3c3c3;
}
