* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100px;
}
body {
    width: 100%;
    height: 100%;
    font-size: initial;
}

@media screen and (min-width: 320px) {html{font-size:42.67px;}}
@media screen and (min-width: 360px) {html{font-size:48px;}}
@media screen and (min-width: 375px) {html{font-size:50px;}}
@media screen and (min-width: 412px) {html{font-size:54.93px;}}
@media screen and (min-width: 414px) {html{font-size:55.2px;}}
@media screen and (min-width: 546px) {html{font-size:72.8px;}}
@media screen and (min-width: 568px) {html{font-size:75.73px;}}
@media screen and (min-width: 640px) {html{font-size:85.33px;}}
@media screen and (min-width: 667px) {html{font-size:88.93px;}}
@media screen and (min-width: 732px) {html{font-size:97.6px;}}
@media screen and (min-width: 736px) {html{font-size:98.13px;}}
@media screen and (min-width: 750px) {html{font-size:100px;}}
@media screen and (min-width: 768px) {html{font-size:102.4px;}}
@media screen and (min-width: 1024px) {html{font-size:136.53px;}}
@media screen and (min-width: 1366px) {html{font-size:182.13px;}}

#main {
    margin: 0 auto;
}
#main .top {
    width: 100%;
    height: 1rem;
    background: #393a3e;
    font-size: .17rem;
    padding:0 15px;
}
#main .top .top_a {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    float: left;
    margin: .41rem .25rem 0 0;
}
#main .top .top_a img {
    width: .3rem;
    height: .3rem;
}
#main .top .top_b {
    display: inline-block;
    font-size: .25rem;
    color: #fff;
    margin-top: .38rem;
}
#main .top .top_c {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    float: right;
    margin-top: .32rem;
}
#main .top .top_c img {
    width: .4rem;
    height: .4rem;
}

#main .center {
    width: 100%;
    height: 100%;
}
#main .center .sd {
    width: 100%;
    height: 3rem;
    padding: .37rem .7rem;
    margin-bottom: .3rem;
}
#main .center .sd .sd_a {
    float: left;
    width: 2.25rem;
    height: 2.25rem;
}
#main .center .sd .sd_a img {
    width: 2.25rem;
    height: 2.25rem;
}
#main .center .sd  p {
    color: #f69;
    font-size: .4rem;
    margin-top: 1rem;
    float: left;
}
#main .center .zh {
    width: 5.7rem;
    height: 3.1rem;
    background: #f7f7f7;
    padding: .2rem 0 0 .3rem;
    margin: 0 auto;
    border-radius: .5rem;
}
#main .center .zh p {
    color: #333;
    font-size: .25rem;
    line-height: .45rem;
}
#main .center .zh p span {
    color: #999;
}
#main .center .cx {
    width: 5rem;
    height: .9rem;
    border: 2px solid #f69;
    margin: .8rem auto;
    border-radius: 1rem;
    text-align: center;
    line-height: .9rem;
}
#main .center .cx p {
    color: #f69;
    font-size: .3rem;
}